---

# Unit42 ATOM skillet report root template 

content_templates:
  validation_table:
    type: table
    columns:

      - title: Validation
        key: documentation_link
        type: url
        display_key: label

      - title: Result
        key: icon 
        type: icon
        style:
          width: 30px
        tooltip:
          key: output_message
          style:
            left: -300px


report:

    title: Palo Alto Networks - Unit42
    subtitle: {{ subtitle }}
    second_logo: unit42
    footer_links:
      - name: Palo Alto Networks
        url: https://paloaltonetworks.com
      - name: Unit42
        url: https://unit42.paloaltonetworks.com/

    sections:

        - name: Description
          content:
            - type: atom_description

        - name: Validation Statistics
          content:
            - type: stats_block
              key: stats
              data:

                - title: Total Checks
                  key: total

                - title: Checks Passed
                  key: pass
                  icon: checkmark

                - title: Checks Failed
                  key: fail
                  icon: alert
        
        {% for sec in sections %}
        - name: {{ sec }}
          content:
            - template: validation_table
              key: {{ sections[sec] }}
        {% endfor %}