---

name: "{{ name }}"
label: "{{ label }}"

description: |
{{ description }}

type: pan_validation
labels:
    collection:
        - Unit42
        - Validation

variables:

snippets:
    {% for s in snippets %}
    - name: {{ s.id }}
      label: {{ s.label }}
      meta: 
        mitre_phases: {{ s.mitre_phases }}
        product: {{s.related_product}}
        {% if s.not_implemented %}
      test: true
      not_implemented: true
      fail_message: Not implemented{% else %}
      include: {{ s.include }}{% if s.include_variables %}
      include_variables: {{ s.include_variables }}{% endif %}
      include_snippets:{% for inc in s.include_snippets %}{% for key, value in inc.items() %}
        - {{ key }}: {{ value }}
          meta: 
            mitre_phases: {{ s.mitre_phases }}
            product: {{s.related_product}}{% endfor %}{% endfor %}
      fail_message: |-
        {{ s.fail_message }}
      {% endif %}
    {% endfor %}